* {
    margin: 0;
    height: 0;
    
}
.row{
    width: 50%;
    height: 20vh;
}
.bosh {
    display: flex;
    margin: auto;
    justify-content: center;
    height: 100vh;
}
.btn{
    height: 150px;
    width: 150px;
}