/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0000001A  !important;
}

.nav {
    position: fixed;
    position:relative; 
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #000000 !important;

    a {
        text-decoration: none!important;
    }

    .container {
        margin: 0 !important;
    }

*/
.nav li a button{
    color: white;
}
