p,body {
    padding: 0;
    margin: 0;
}

body{
    background-image: url("../custom_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -ms-background-position-x: center;
    background-position-x: center;
}

.req {
    text-align: center;
    height: 80px;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.res {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 80px;
}
.res input{
    border: none;
    border-bottom: 1px solid white;
    font-family: sans-serif;
    font-weight: 300px;
    padding: 2px 5px;
    width: 100%;
    font-size: 27px;
    outline: none;
    background: transparent;
}

@keyframes toTop {
    from {
        top: 18px;
        font-size: 2rem;
        opacity: 1;
    }

    to {
        top: 0px;
        font-size: 1.2rem;
        opacity: .3;
    }
}

@keyframes toCenter {
    from {
        top: 18px;
        font-size: 1.2rem;
        opacity: .3;
    }

    to {
        top: 0;
        font-size: 32px;
        opacity: 1;
    }
}

@keyframes hidden {
    from {
        opacity: .3;
    }

    to {
        opacity: 0;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: .3;
    }
}

.req p {
    opacity: .3;
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.req .center {
    animation-name: toCenter;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    opacity: 1;
    font-weight: bold;
    font-size: 22px;
    position: relative;
    top: 18px;
}

.req .top {
    animation-name: toTop;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: running;
    color: transparent;
    background: linear-gradient(0deg, white, transparent);
    background-clip: text;
    -webkit-background-clip: text;
}

.hidden {
    animation-name: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.req .bottom {
    color: transparent;
    background: linear-gradient(180deg, white,transparent);
    background-clip: text;
    -webkit-background-clip: text;
    animation-name: show;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-delay: .2s;
    opacity: 0;
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
