* {
    margin: 0;
    padding: 0;
    text-align: center;
    color: blue;
}

.night * {
    color: aqua;
}

/* // Keyboards // */
@keyframes style {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: 150px;
    }
}

.keyboards {
    background: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70vw;
    margin: auto;
    margin-top: 5vh;
}

.keyboards button {
    display: block;
    padding: 10px;
    margin: 10vh 10%;
    border: none;
    background: linear-gradient(149deg, aqua, blue, aqua, blue);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 2px 2px solid transparent;
    outline-color: blue;
    outline-style: double;
    outline-width: 5px;
    border-radius: 50px;
    animation-name: style;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
}

.keyboards button:hover {
    outline-color: red;
}


















/* //Example-screen// */
.example-screen {
    margin-top: 8vh;
    text-align: center;
    height: 80px;
}

@keyframes toTop {
    from {
        top: 18px;
        font-size: 2rem;
        opacity: 1;
    }

    to {
        top: 0px;
        font-size: 1.2rem;
        opacity: .3;
    }
}

@keyframes toCenter {
    from {
        top: 18px;
        font-size: 1.2rem;
        opacity: .3;
    }

    to {
        top: 0;
        font-size:  32px;
        opacity: 1;
    }
}

@keyframes hidden {
    from {
        opacity: .3;
    }

    to {
        opacity: 0;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: .3;
    }
}
.example-screen p {
    opacity: .3;
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
}

.example-screen .center {
    animation-name: toCenter;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    opacity: 1;
    font-weight: bold;
    font-size: 22px;
    position: relative;
    top: 18px;
    padding: 8px 0;
}

.example-screen .top {
    animation-name: toTop;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: running;
    color: transparent;
    background: linear-gradient(0deg, blue, white);
    background-clip: text;
    -webkit-background-clip: text;
}

.hidden{
    animation-name: hidden;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.example-screen .bottom {
    color: transparent;
    background: linear-gradient(180deg, blue, white);
    background-clip: text;
    -webkit-background-clip: text;
    animation-name: show;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-delay: .2s;
    opacity: 0;
}
